<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>第三页</title>
</head>
<script type="text/javascript">
    (function(){
        var _aelog_ = _aelog_ || window._aelog_ || [];
        // 设置_aelog_相关属性
        _aelog_.push(["memberId","Gryant"]);
        window._aelog_ = _aelog_;
        (function(){
            var aejs = document.createElement('script');
            aejs.type = 'text/javascript';
            aejs.async = true;
            aejs.src = '/static/js/track/analysis.js';
            var script = document.getElementsByTagName('script')[0];
            script.parentNode.insertBefore(aejs, script);
        })();
    })();
</script>
<body>
    <h3>第三页</h3>
    <b>跳转到</b>:
    <a href="/js_sdk/index">导航页</a>
    <a href="/js_sdk/page_one">第一页</a>
    <a href="/js_sdk/page_two">第二页</a>
    <a href="/js_sdk/page_three">第三页</a>
    <hr/>

</body>
</html>